{% extends "base_user.html" %}
{% block card %}
    <div class="layui-card-header"><h2>《{{ book['book_name'] }}》</h2></div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="layui-col-md6 layui-col-sm5">
            <a href="javascript:;">
                <img src="../../static/books/{{ book['book_photo'] }}" width="450px" height="480px"
                     style="padding-top: 15px;">
            </a>
        </div>
        <div class="layui-col-md6 layui-col-sm5">

            <form class="layui-form" lay-filter="show">
                <div class="layui-form-item">
                    <label class="layui-form-label">图书编号：</label>
                    <div class="layui-input-block">
                        <input name="book_id" disabled class="layui-input" style="width:300px" type="text"
                               autocomplete="off">
                    </div>
                </div>
                <!--
                <div class="layui-form-item">
                    <label class="layui-form-label">书名：</label>
                    <div class="layui-input-block">
                        <input name="book_name" disabled class="layui-input" style="width:300px" type="text" autocomplete="off">
                    </div>
                </div>
                -->
                <div class="layui-form-item">
                    <label class="layui-form-label">评分：</label>
                    <div class="layui-input-block">
                        <input name="average_rating" disabled class="layui-input" style="width:300px" type="text"
                               autocomplete="off">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">作者：</label>
                    <div class="layui-input-block">
                        <input name="author" disabled class="layui-input" style="width:300px" type="text"
                               autocomplete="off">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单价：</label>
                    <div class="layui-input-block">
                        <input name="price" disabled class="layui-input" style="width:300px" type="text"
                               autocomplete="off">
                    </div>
                </div>
                <!--
                <div class="layui-form-item">
                    <label class="layui-form-label">库存量：</label>
                    <div class="layui-input-block">
                        <input name="store_number" disabled disabled class="layui-input" style="width:300px" type="text"
                               autocomplete="off">
                    </div>
                </div>
                -->
                <div class="layui-form-item">
                    <label class="layui-form-label">出版社：</label>
                    <div class="layui-input-block">
                        <input name="publish_name" disabled class="layui-input" style="width:300px" type="text"
                               autocomplete="off">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">出版日期：</label>
                    <div class="layui-input-block">
                        <input name="publish_date" id="date" type="text" class="layui-input" style="width:300px"
                               type="text" disabled
                               autocomplete="off">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">图书介绍：</label>
                    <div class="layui-input-block">
                        <textarea name="detail" class="layui-textarea" placeholder="请输入内容" style="width:300px; "
                                  type="text" disabled autocomplete="off"></textarea>
                    </div>
                </div>
            </form>

            <div style="padding-bottom: 10px;padding-top: 10px;padding-left: 60px">
                <a href="/show_comment?book_id={{ book['book_id'] }}">
                    <button class="layui-btn layui-btn-sm layui-btn-primary" type="button">
                        <i class="layui-icon">&#xe611;</i>
                    </button>
                </a>
                <a href="/add_order?book_id={{ book['book_id'] }}">
                    <button class="layui-btn layui-btn-sm layui-btn-primary" type="button">
                        <i class="layui-icon">&#xe657;</i>
                    </button>
                </a>
                <button class="layui-btn layui-btn-sm layui-btn-primary" type="button" id="love">
                    <i id="kongxin" class="layui-icon" alt="">&#xe600;</i>
                    <i id="shixin" class="layui-icon" alt="" style="color:#FF0000">&#xe658;</i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            var love = '{{ love }}'
            var kongxin = document.getElementById("kongxin");
            var shixin = document.getElementById("shixin");
            if (love == '1') {
                kongxin.style.display = 'none';
                shixin.style.display = 'block';
            } else if (love == '0') {
                shixin.style.display = 'none';
                kongxin.style.display = 'block';
            }

            kongxin.onclick = function () {
                kongxin.style.display = 'none';
                shixin.style.display = 'block';
                love = '1';
                addlove(love);
            };
            shixin.onclick = function () {
                shixin.style.display = 'none';
                kongxin.style.display = 'block';
                love = '0';
                addlove(love);
            };

            function addlove(love) {
                $.ajax({
                    url: "{{ url_for('main.add_favorite') }}",
                    type: "post",
                    data: {
                        "love": love
                    },
                    success: function (data) {
                        if (data == 'add') {
                            layer.msg('收藏成功！');
                        }
                        elif(data == 'add_lost')
                        {
                            layer.msg('收藏失败！');
                        }
                        elif(data == 'cancel');
                        {
                            layer.msg('取消收藏成功！');
                        }
                        elif(data == 'cancel_lost')
                        {
                            layer.msg('取消收藏失败！')
                        }
                    }
                });
            }
        });
    </script>
    <script>
    layui.use(['form', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.$;
        refresh();
        function refresh() {
                $.ajax({
                    url: "{{ url_for('main.get_book_info') }}",
                    type: "get",
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        //layer.msg(JSON.stringify(data));
                        //显示基本信息
                        form.val('show', {
                            "book_id": data['book_id'],
                            "book_name": data['book_name'],
                            "author": data['author'],
                            "price": data['price'],
                            "average_rating": data['average_rating'],
                            "publish_name": data['publish_name'],
                            "publish_date": data['publish_date'],
                            "detail": data['detail'],
                            "store_number": data['store_number']
                        });
                    }

                });
            }

    });
    </script>
{% endblock %}

