{% extends "base_user.html" %}
{% block card %}
<div class="layui-card-header"><h2>《{{ book['book_name'] }}》</h2></div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="layui-col-md6 layui-col-sm5">
        <a href="javascript:;">
            <img src="../../static/icon.jpg" width="450px" height="480px" style="padding-top: 15px;">
        </a>
    </div>
    <div class="layui-col-md6 layui-col-sm5">
        <form>
            xiangqing
        </form>
        <div style="padding-bottom: 10px;padding-top: 10px">
            <a href="/discuss?book_id={{book['book_id']}}">
                <button class="layui-btn layui-btn-sm layui-btn-primary" type="button">
                    <i class="layui-icon">&#xe611;</i>
                </button>
            </a>
            <a href="/add_order?book_id={{book['book_id']}}">
                <button class="layui-btn layui-btn-sm layui-btn-primary" type="button">
                    <i class="layui-icon">&#xe657;</i>
                </button>
            </a>
            <button class="layui-btn layui-btn-sm layui-btn-primary" type="button" id="love">
                <i id="kongxin" class="layui-icon" alt="">&#xe600;</i>
                <i id="shixin" class="layui-icon" alt="" style="color:#FF0000">&#xe658;</i>
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        var love = '{{ love }}'
        var kongxin = document.getElementById("kongxin");
        var shixin = document.getElementById("shixin");

        if (love == '1') {
            kongxin.style.display = 'none';
            shixin.style.display = 'block';
        } else if (love == '0') {
            shixin.style.display = 'none';
            kongxin.style.display = 'block';
        }

        kongxin.onclick = function () {
            kongxin.style.display = 'none';
            shixin.style.display = 'block';
            love = '1';
            addlove(love);
        };
        shixin.onclick = function () {
            shixin.style.display = 'none';
            kongxin.style.display = 'block';
            love = '0';
            addlove(love);
        };

        function addlove(love) {
            $.ajax({
                url: "{{ url_for('main.add_favorite') }}",
                type: "post",
                data: {
                    "love": love
                },
                success: function (data) {
                    if (data == 'add') {
                        layer.msg('收藏成功！');
                    }
                    elif(data == 'add_lost')
                    {
                        layer.msg('收藏失败！');
                    }
                    elif(data == 'cancel');
                    {
                        layer.msg('取消收藏成功！');
                    }
                    elif(data == 'cancel_lost')
                    {
                        layer.msg('取消收藏失败！')
                    }
                }
            });
        }
    });
</script>
{% endblock %}

