{% extends "base_user.html" %}
{% block title %}用户修改密码{% endblock %}

{% block card %}<div class="layui-card-header"><h2>修改密码</h2></div>{% endblock %}
{% block body %}
<form class="layui-form" method="post" autocomplete="off">
    {{ form.csrf_token }}
    <div class="layui-form-item" style="height: 50px;margin-top: 30px;">
        <label class="layui-form-label" style="font-size: medium">原始密码：</label>
        <div class="layui-input-block">
            {{ form.old_password(class="layui-input", placeholder="请输入原始密码", style="width:40%") }}
        </div>
    </div>
    <div class="layui-form-item" style="height: 50px;">
        <label class="layui-form-label" style="font-size: medium">新密码：</label>
        <div class="layui-input-block">
            {{ form.password(class="layui-input", placeholder="请输入新密码", style="width:40%") }}
        </div>
    </div>
    <div class="layui-form-item" style="height: 50px;">
        <label class="layui-form-label" style="font-size: medium">确认密码：</label>
        <div class="layui-input-block">
            {{ form.password2(class="layui-input", placeholder="请再次输入新密码", style="width:40%") }}
        </div>
    </div>
    <div class="layui-form-item" style="height: 50px;">
        <div class="layui-input-block">
            {{ form.submit(class="layui-btn", style="width:100px;font-size:medium") }}
        </div>
    </div>
</form>

<!--用于将flash的消息输出-->
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
    </div>
{% endfor %}

{% endblock %}