{% extends "base_user.html" %}
{% block card %}
<div class="layui-card-header"><h2>《{{ book['book_name'] }}》</h2></div>
{% endblock %}

{% block body %}
<form class="layui-form" action="">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>图书评论</legend>

        <div class="layui-form-item layui-form-text">
            <div class="layui-input-block">
                <textarea name="comment" placeholder="请输入内容" class="layui-textarea"
                          style="margin-left: -60px; margin-top: 20px"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-top: 20px; margin-left: 50px">
                <button class="layui-btn" lay-submit lay-filter="discuss">发表</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </fieldset>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>图书评分</legend>
    </fieldset>
    <div id="rating" style="margin-left: 50px"></div>

</form>
{% endblock %}

{% block script %}
<script>

    layui.use(['layer', 'rate', 'form'], function () {
        var form = layui.form;
        var rate = layui.rate;
        //半星效果
        rate.render({
            elem: '#rating'
            , value: 2.5 //初始值
            , length: 10
            , text: true
            , half: true //开启半星
        })

        //监听提交
        form.on('submit(discuss)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
{% endblock %}
