{% extends "base_user.html" %}
{% block card %}
    <div class="layui-card-header"><h2>订单信息</h2></div>
{% endblock %}

{% block body %}


    <div class="layui-upload">
        <button type="button" class="layui-btn" id="test1">上传图片</button>
        <div class="layui-upload-list">
            <img class="layui-upload-img" id="demo1">
            <p id="demoText"></p>
        </div>
    </div>


    <form action="" method="post" enctype="multipart/form-data">

        <img src="../static/1.jpg" width="300px" >
        <p>
            <input type="file" name="files">
            <input type=submit value="upload_test">
        </p>
    </form>

{% endblock %}

{% block script %}

{% endblock %}