{% if name == '' %}
{% extends "base.html" %}
{% elif session['user_name'] != '' %}
{% extends "base_user.html" %}
{% elif session['admin_name'] != '' %}
{% extends "base_admin.html" %}
{% endif %}

{% block title %}图书商城信息列表{% endblock %}

{% block card %}<div class="layui-card-header"><h2>图书信息列表</h2></div>{% endblock %}
{% block body %}
<div id="remove">
    <table lay-even id="result" lay-filter="re">
        <thead>
        <tr>
            <th lay-data="{field:'book_id', width:180}">图书编号</th>
            <th lay-data="{field:'book_name', width:180}">图书名</th>
            <th lay-data="{field:'author', width:120}">作者</th>
            <th lay-data="{field:'average_rating', sort:true, width:100}">评分</th>
            <th lay-data="{field:'price', sort:true, width:100}">价格</th>
            <th lay-data="{field:'publish_data', sort:true, width:120}">出版日期</th>
            <th lay-data="{field:'publish_name', width:140}">出版社</th>
            <th lay-data="{field:'store_number', sort:true, width:120}">库存图书量</th>
        </tr>
        </thead>

        <tbody>

        </tbody>

    </table>
</div>

<table id="test" lay-filter="test"> </table>

{% endblock %}


{% block script %}
<script>
    layui.use(['table','jquery'], function(){
        var form = layui.form;
        var table = layui.table;
        var $ = layui.$;

        table.init('re', {
              height: 390
              ,limit: 7
              ,page: true
        });

        $(document).ready(function(){
            $.ajax({
                url:"{{ url_for('main.list_all_book') }}",
                type:"get",
                processData:false,
                contentType:false,
                success:function(data){
                    if (data.length !== 0){
                        $('#remove').remove();
                        table.render({
                            elem: '#test'
                            ,data:data
                            ,cols: [[
                                //{type: 'checkbox', fixed: 'left'} //开启选择框
                                {field:'book_id', title:'图书编号', width:180}
                                ,{field:'book_name', title:'图书名', width:180}
                                ,{field:'author', title:'作者', width:120}
                                ,{field:'average_rating', title:'评分', sort:true, width:100}
                                ,{field:'price', title:'价格', sort:true, width:100}
                                ,{field:'publish_date', title:'出版日期', sort:true, width:120}
                                ,{field:'publish_name', title:'出版社', width:140}
                                ,{field:'store_number', title:'库存图书量',sort:true, width:120}
                            ]]
                            ,page: true
                            ,height: 390
                            ,limit: 7
                            ,response: {
                                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                            }
                            ,parseData: function(data){ //将原始数据解析成 table 组件所规定的数据
                                return {
                                    "code": data.status, //解析接口状态
                                    "msg": data.message, //解析提示文本
                                    "count": data.total, //解析数据长度
                                    "data": data.rows.item //解析数据列表
                                };
                            }
                        });
                    }
                    else{
                        layui.use('layer', function(){
                            var layer = layui.layer;

                            layer.msg('未找到任何结果',{time: 1000});
                        });
                    }
                }
            });
        });
    })
</script>
{% endblock %}