{% extends "base_admin.html" %}
{% block title %}查询订单信息{% endblock %}

{% block card %}<div class="layui-card-header"><h2>所有用户的订单信息</h2></div>{% endblock %}
{% block body %}
<div id="remove">
    <table lay-even id="result" lay-filter="re">
        <thead>
        <tr>
            <th lay-data="{field:'cart_id', width:120}">订单编号</th>
            <th lay-data="{field:'book_id', width:120}">图书编号</th>
            <th lay-data="{field:'book_name', width:160}">图书名称</th>
            <th lay-data="{field:'user_id', width:140}">用户编号</th>
            <th lay-data="{field:'user_name', width:140}">用户名</th>
            <th lay-data="{field:'buy_number', sort:true, width:120}">购书数量</th>
            <th lay-data="{field:'buy_date', sort:true, width:140}">下单日期</th>
            <th lay-data="{field:'price', sort:true, width:120}">图书单价</th>
            <th lay-data="{field:'total_price', sort:true, width:120}">总价</th>
        </tr>
        </thead>

        <tbody>

        </tbody>

    </table>
</div>
<table id="test" lay-filter="test"> </table>
{% endblock %}

{% block script %}
<script>
    layui.use(['table','jquery'], function(){
        var table = layui.table;
        var $ = layui.$;

        table.init('re', {
              height: 390
              ,limit: 7
              ,page: true
        });

        $(document).ready(function(){
            $.ajax({
                url:"{{ url_for('main.search_order') }}",
                type:"get",
                processData:false,
                contentType:false,
                success:function(data){
                    if (data.length !== 0){
                        $('#remove').remove();
                        table.render({
                            elem: '#test'
                            ,data:data
                            ,cols: [[
                                {field:'cart_id', title:'订单编号', width:120}
                                ,{field:'book_id', title:'图书编号', width:120}
                                ,{field:'book_name', title:'图书名称', width:160}
                                ,{field:'user_id', title:'用户编号', width:140}
                                ,{field:'user_name', title:'用户名', width:140}
                                ,{field:'buy_number', title:'购书数量',sort:true, width:120}
                                ,{field:'buy_date', title:'下单日期',sort:true, width:140}
                                ,{field:'price', title:'图书单价',sort:true, width:120}
                                ,{field:'total_price', title:'总价',sort:true, width:120}
                                ]]
                            ,page: true
                            ,height: 390
                            ,limit: 7
                            ,response: { //重新规定成功的状态码为 200，table 组件默认为 0
                                statusCode: 200
                            }
                            ,parseData: function(data){ //将原始数据解析成 table 组件所规定的数据
                                return {
                                    "code": data.status, //解析接口状态
                                    "msg": data.message, //解析提示文本
                                    "count": data.total, //解析数据长度
                                    "data": data.rows.item //解析数据列表
                                };
                            }
                        });
                    }
                    else{
                        layui.use('layer', function(){
                            var layer = layui.layer;

                            layer.msg('未找到任何结果',{time: 1000});
                        });
                    }

                }
            });
        });

    });
</script>
{% endblock %}
